// We use SCSS variables for things that are expected to be used a lot and never changed outside of the code editor. CSS variables are expected to change based on JS or the window size.

$block-title-text-color: #323B32;
$background-color: #5E7D63;
$header-color: #688F6F;
$light-green-text: #447544;
$dark-green-text: #3a613a;
$darker-green-text: #2e4c2e;
$block-background-color: #C2CBC7;
$slight-shadow: 1px 1px 3px RGBa(0,0,0,0.24);
$slighter-shadow: 1px 1px 3px RGBa(0,0,0,0.1);
$block-shadow: 1px 2px 3px RGBa(20, 20, 20, 0.55);
$spread-shadow: 0 13px 30px RGBa(0,0,0,0.2);
$slight-spread-shadow: 2px 4px 10px RGBa(0,0,0,0.1);
$paragraph-color: #343434;
$link-color: #285EC9;
$card-color: #dce6e2;

%text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // make sure parent has a rigid width
}

:root {
    --page-width: 50%;
    --header-height: 70px;
    --block-spacing: 40px;
    --page-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //background: url("/images/main.png") fixed center/cover;
    background: $background-color;
    &::after {
        content: "";
        //background: linear-gradient($background-color,transparentize($background-color,0.2));
        //background: $background-color;
        background-size: cover;
        display: block;
        position: absolute;
        height: var(--page-height);
        width: 100%;
        top: 0;
        z-index: -1;
    }
}
header {
    box-sizing: border-box;
    display: block;
    position: fixed;
    height: var(--header-height);
    background: $header-color;
    color: rgb(198, 238, 213);
    top: 0;
    width: 100%;
    box-shadow: $slight-shadow;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    a {
        text-decoration: none;
    }
    .logo {
        display: block;
        font-size: 40px;
        color: rgb(198, 238, 213);
    }
    nav a {
        font-size: 20px;
        color: #d1e0d1;
        margin: 0 5px;
        i {
            margin: 0 5px;
            opacity: 0;
            transition: 0.25s ease;
            color: #dffbe5;
        }
        &:hover {
            i {
                opacity: 1;
            }
        }
    }
}
.page {
    width: var(--page-width);
    margin: calc(var(--header-height) + var(--block-spacing)) auto var(--block-spacing) auto;
}
.button-link {
    background: #e9f5f0; // linear-gradient(#e9f5f0,#d5dcda);
    background-position: center;
    padding: 7px 10px;
    font-size: 20px;
    text-decoration: none;
    display: table; //lol why does this work
    border-radius: 3px;
    margin: 20px auto 0 auto;
    box-shadow: $slight-shadow;
    transition: 0.3s ease;
    color: #2E2E2E;
    &:hover {
        box-shadow: $slighter-shadow, $slight-spread-shadow;
        color: #000;
    }
}
.block {
    position: relative;
}
.block,
footer {
    background: $block-background-color;
    margin-bottom: var(--block-spacing);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: $block-shadow;
}
.block-title {
    margin: 0;
    color: $block-title-text-color;
}
p {
    font-weight: normal;
    color: $paragraph-color;
}
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--block-spacing);
    margin-top: 20px;
    
}
.card-block {
    vertical-align: top;
    flex-grow: 1;
    flex: 1;
    padding: 20px;
    background: $card-color;
    box-shadow: $slight-shadow;
    border-radius: 3px;
    color: #565656;
    transition: 0.25s;
    //overflow-y: auto;
    &.resource-pack:hover {
        box-shadow: $slight-shadow,
                    $slight-spread-shadow;
        .download,
        .image-area .image-container::after,
        .forum-link i,
        .image-area .pack-summary {
            opacity: 1;
        }
        .image-area .image-container .card-image {
            //width: 110%;
        }
    }
    &.resource-pack {
        padding: 0;
        position: relative;
        .download {
            position: absolute;
            top: 10px;
            right: 0;
            background: #dce6e2;
            opacity: 0;
        }
        .forum-link {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            i {
                position: relative;
                padding: 5px;
                border-radius: 50%;
                transition: 0.25s ease;
                z-index: 1;
                opacity: 0;
                color: #2E2E2E;
            }
            .popup-text {
                position: absolute;
                width: 140px;
                font-size: 13px;
                opacity: 0;
                transition: 0.25s ease;
                right: 0;
                padding: 5px;
                color: #2E2E2E;
            }
            &:hover {
                .popup-text {
                    opacity: 1;
                    right: 15px;
                    background: #dce6e2;
                    padding: 4.5px; //ignore these magic numbers and pretend you never saw them
                    padding-left: 10px;
                    border-radius: 15px 0 0 15px;
                }
                i {
                    background: #dce6e2;
                }
            }
        }
        .image-area {
            width: 100%;
            height: 196px;
            display: block;
            border-radius: 3px 3px 0 0;
            position: relative;
            .pack-summary,
            .image-container::after {
                opacity: 0;
                transition: 0.15s linear;
            }
            .pack-summary {
                box-sizing: border-box;
                font-family: sans-serif;
                font-weight: 100;
                position: absolute;
                height: 100%;
                top: -5px;
                padding: 20px;
                font-size: 16px;
                color: #383838;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: default;
            }
            .image-container {
                width: 100%;
                height: 196px;
                display: block;
                position: relative;
                border-radius: 3px 3px 0 0;
                overflow: hidden;
                &::after {
                    content: "";
                    display: block;
                    background: linear-gradient(RGBa(220,230,226,0.8),RGBa(220,230,226,1));
                    //background: RGBa(220,230,226,0.8);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                .card-image {
                    display: block;
                    width: 101%; //I have to do this for some reason, or else it doesn't cover entire area when there is a scrollbar??? very weird stuff
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    transition: 0.25s ease;
                }
            }
        }
        .description {
            position: relative;
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: $slight-shadow;
            }
            .avatar,
            .infos {
                display: inline-block;
                vertical-align: top;
            }
            .infos {
                margin-left: 10px;
                width: calc(80% - 30px);
            }
            .title {
                color: #2E2E2E;
                font-weight: 500;
                @extend %text-ellipsis;
            }
        }
    }
    .more {
        font-weight: bold;
        color: #505050;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        transition: 0.1s ease;
        &:hover {
            color: $link-color;
        }
    }
}
.description-inner {
    position: relative;
    padding: 15px;
    width: 90%;
}
.description-tags {
    padding: 5px 5px 0 15px;
    margin-bottom: -5px;
    font-size: 13px;
    .tag {
        margin-right: 10px;
        font-weight: 600;
        color: #447544;
        i {
            color: #3a613a;
        }
    }
}
.card-title {
    color: #505050;
    margin: 0 0 10px 0;
    font-size: 30px;
}

.with-filters {
    position: relative;
    z-index: 4;
}
.filters {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 20px;
    font-weight: 400;
    .dropdown {
        .dropdown-options {
            .option {
                padding: 7px 10px;
                i {
                    width: 25px;
                    margin-right: 5px;
                }
            }
        }
    }
}
.dropdown {
    transition: 0.1s ease;
    float: right;
    cursor: pointer;
    box-sizing: border-box;
    z-index: 3;
    color: #2E2E2E;
    position: relative;
    i {
        color: #707070;
        display: inline;
        pointer-events: none;
    }
    &:hover,
    &.selected {
        background: #e9f5f0 !important; //#dce6e2
        box-shadow: $slighter-shadow;
        opacity: 1 !important;
        //opacity: 0.85;
        //#E7E9E7
    }
    .dropdown-picked {
        padding: 5px;
    }
    .dropdown-options {
        background: transparent;
        z-index: 1;
        position: absolute;
        transition: 0.2s ease;
        opacity: 0;
        display: none;
        box-shadow: $slighter-shadow;
        top: 100%;
        right: 0;
        overflow: hidden;
        margin-top: -1px; // lol yes 
        &::after {
            transition: 0.15s ease;
            content: "";
            display: block;
            position: absolute;
            background: #e9f5f0;
            opacity: 0;
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%,-50%);
            z-index: -1;
            //border-radius: 50%;
        }
        &.open {
            opacity: 1;
            box-shadow: $slighter-shadow,
                    $spread-shadow;
            &::after {
                height: 100%;
                opacity: 1;
            }
        }
        &:not(.align-left) .option {
            text-align: right;
            i {
                margin-right: 0;
            }
        }
        .option {
            text-decoration: none;
            padding: 5px;
            display: block;
            color: #333;
            white-space: nowrap;
            //background: #e9f5f0;
            &:hover {
                i {
                    color: #53715b;
                }
            }
            i {
                display: inline-block;
                width: 20px;
                text-align: center;
                margin-right: 3px;
            }
        }
    }
}
.no-packs {
    text-align: center;
    width: 100%;
    grid-column: span 2;
    font-size: 30px;
    color: #555;
}
.video-container {
    margin-top: 20px;
}
.loading-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background: $block-background-color;
    padding: 10px;
    border-left: 4px solid $dark-green-text;
    box-shadow: $spread-shadow, $slight-shadow;
    border-radius: 0 3px 3px 0;
    p {
        margin: 0;
    }
}
.loading {
    background: #b9b9b9 !important;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        background: #7e8e7e;
        display: block;
        height: 100%;
        width: 30%;
        position: absolute;
        top: 0;
        animation: load 1.2s infinite cubic-bezier(1, 1.7, 0.83, 1.2);
    }
}

@keyframes load {
    0% {
        width: 0;
        left: 0;
    }
    70% {
        left: 0;
        width: 100%;
    }
    80% {
        left: 0;
    }
    100% {
        left: 100%;
        width: 100%;
    }
}

.video {
    height: 108px;
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    color: #343434;
    text-decoration: none;
    position: relative;
    border: 3px solid transparent;
    border-radius: 3px;
    .loading {
        &.title {
            height: 25px;
        }
        &.duration {
            height: 20px;
            width: 40px;
        }
        &.meta {
            height: 15px;
            width: 30%;
            margin-top: 7px;
        }
        &.author {
            height: 20px;
            width: 20%;
            margin-top: 7px;
        }
    }
    .thumbnail,
    .info {
        display: inline-block;
        vertical-align: top;
    }
    .thumbnail {
        height: 100%;
        width: 192px;
        background: #b9b9b9;
        position: relative;
        img {
            height: 100%;
        }
        .duration {
            position: absolute;
            bottom: 5px;
            right: 5px;
            background: #eee;
            padding: 0 2px;
            border-radius: 2px;
            background-color: #5d5d5d;
            color: #fff
        }
    }
    .info {
        //position: relative;
        width: calc(100% - 220px);
        padding: 0 10px;
        .title {
            font-weight: 700;
            font-size: 23px;
            color:#464646;
            @extend %text-ellipsis;
        }
        .meta {
            font-size: 15px;
        }
        .author {
            font-size: 20px;
        }
    }
    .external {
        position: absolute;
        font-size: 100px;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        color: $dark-green-text;
        transition: 0.15s ease;
        opacity: 0;
    }
    &:hover {
        border-color: $dark-green-text;
        .external {
            opacity: 0.8;
        }
        .title {
            color: $darker-green-text;
        }
        .duration {
            background-color: $dark-green-text;
        }
    }
}
.filters .dropdown {
    .dropdown-picked {
        padding: 5px 13px;
    }
    .dropdown-options .option {
        &:hover {
            background: #dbe6e2;
        }
        &[data-option=none] {
            color: transparent;
        }
    }
}
.mvpblue {
    //color: #3CE6E6; Hypixel color
    color: #37c7c7;
}
.vip {
    //color: #3CE63C; Hypixel color
    color: #35c135;
}
.player {
    padding: 3px 0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    .position,
    .guild,
    .map {
        font-weight: 400;
    }
    .position {
        display: inline-block;
        width: 30px;
    }
    .right-info,
    .left-info {
        display: inline-block;
    }
}
.golds i {
    color: #a28f1b;
    margin-left: 3px;
}
footer {
    display: flex;
    justify-content: space-between;
    .left {
        flex-grow: 1;
        flex: 1;
    }
    .right a {
        display: block;
        color: #2E2E2E;
        text-decoration: none;
        font-weight: 500;
        &:hover {
            color: $link-color;
        }
    }
    .site-name {
        font-weight: 700;
        color: #242424;
        font-size: 30px;
    }
    .admission {
        font-size: 12px;
        margin: 0;
        margin-top: -3px;
    }
}

@media (max-width: 1650px) {
    :root {
        --page-width: 50%;
        --block-spacing: 30px;
    }
}
@media (max-width: 1360px) {
    :root {
        --page-width: 60%;
        --block-spacing: 20px;
    }
}
@media (max-width: 1110px) {
    :root {
        --page-width: 50%;
    }
    .card-container {
        display: block;
    }
    .card-block {
        display: block;
        margin-top: var(--block-spacing);
    }
    footer .site-name {
        font-size: 20px;
    }
}
@media (max-width: 900px) {
    :root {
        --page-width: 60%;
    }
}
@media (max-width: 750px) {
    :root {
        --page-width: 70%;
    }
}
@media (max-width: 650px) {
    :root {
        --page-width: 90%;
    }
    header nav a {
        font-size: 17px;
    }
}
@media (max-width: 550px) {
    header nav a {
        font-size: 15px;
        margin-right: 0;
        i {
            font-size: 13px;
        }
    }
}
@media (max-width: 550px) {
    footer {
        display: block;
        .left,
        .right {
            display: block;
        }
        .right {
            margin-top: 10px;
            text-align: center;
            a {
                display: inline-block;
                padding: 0 10px;
            }
        }
    }
}
@media (max-width: 450px) {
    :root {
        --page-width: 100%;
    }
    .block,
    footer {
        border-radius: 0;
    }
    footer,
    .page {
        margin-bottom: 0;
    }
    header nav a {
        margin: 0 3px;
    }
    header nav a i {
        display: none !important;
        margin: 0;
    }
}
