// We use SCSS variables for things that are expected to be used a lot and never changed outside of the code editor. CSS variables are expected to change based on JS or the window size.

$block-title-text-color: #323B32;
$background-color: #5E7D63;
$header-color: #688F6F;
$block-background-color: #C2CBC7;
$slight-shadow: 1px 1px 3px RGBa(0,0,0,0.24);
$slighter-shadow: 1px 2px 2px RGBa(0,0,0,0.2);
$block-shadow: 1px 2px 3px RGBa(20, 20, 20, 0.55);
$spread-shadow: 0 13px 30px RGBa(0,0,0,0.2);
$slight-spread-shadow: 2px 4px 10px RGBa(0,0,0,0.1);
$paragraph-color: #343434;
$link-color: #285EC9;
$card-color: #dce6e2;

:root {
    --page-width: 50%;
    --header-height: 70px;
    --block-spacing: 40px;
    --page-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //background: url("/images/main.png") fixed center/cover;
    background: $background-color;
    &::after {
        content: "";
        //background: linear-gradient($background-color,transparentize($background-color,0.2));
        //background: $background-color;
        background-size: cover;
        display: block;
        position: absolute;
        height: var(--page-height);
        width: 100%;
        top: 0;
        z-index: -1;
    }
}
header {
    box-sizing: border-box;
    display: block;
    position: fixed;
    height: var(--header-height);
    background: $header-color;
    color: rgb(198, 238, 213);
    top: 0;
    width: 100%;
    box-shadow: $slight-shadow;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    a {
        text-decoration: none;
    }
    .logo {
        display: block;
        font-size: 40px;
        color: rgb(198, 238, 213);
    }
    nav a {
        font-size: 20px;
        color: #d1e0d1;
        margin: 0 5px;
        i {
            margin: 0 5px;
            opacity: 0;
            transition: 0.25s ease;
            color: #dedede;
        }
        &:hover {
            i {
                opacity: 1;
            }
        }
    }
}
.page {
    width: var(--page-width);
    margin: calc(var(--header-height) + var(--block-spacing)) auto var(--block-spacing) auto;
}
.block,
footer {
    background: $block-background-color;
    margin-bottom: var(--block-spacing);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: $block-shadow;
}
.block-title {
    margin: 0;
    color: $block-title-text-color;
}
p {
    font-weight: normal;
    color: $paragraph-color;
}
.card-container {
    display: flex;
    gap: var(--block-spacing);
    margin-top: 20px;
    
}
.card-block {
    vertical-align: top;
    flex-grow: 1;
    flex: 1;
    padding: 20px;
    background: $card-color;
    box-shadow: $slight-shadow;
    border-radius: 3px;
    color: #565656;
    transition: 0.25s;
    //overflow-y: auto;
    &.resource-pack:hover {
        box-shadow: $slight-shadow,
                    $slight-spread-shadow;
        .download {
            opacity: 1;
        }
        .image-area .card-image {
            width: 110%;
        }
    }
    &.resource-pack {
        padding: 0;
        position: relative;
        .download {
            position: absolute;
            bottom: 14px;
            right: 10px;
            background: #dce6e2;
            opacity: 0;
        }
        .forum-link {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #fff;
            i {
                position: relative;
                padding: 5px;
                border-radius: 50%;
                transition: 0.25s ease;
                z-index: 1;
            }
            .popup-text {
                position: absolute;
                width: 140px;
                font-size: 13px;
                opacity: 0;
                transition: 0.25s ease;
                right: 0;
                padding: 5px;
                color: #2E2E2E;
            }
            &:hover {
                .popup-text {
                    opacity: 1;
                    right: 15px;
                    background: #dce6e2;
                    padding: 4.5px; //ignore these magic numbers and pretend you never saw them
                    padding-left: 10px;
                    border-radius: 15px 0 0 15px;
                }
                i {
                    background: #dce6e2;
                    color: #2E2E2E;
                }
            }
        }
        .image-area {
            width: 100%;
            height: 196px;
            display: block;
            border-radius: 3px 3px 0 0;
            position: relative;
            .image-container {
                width: 100%;
                height: 196px;
                display: block;
                position: relative;
                overflow: hidden;
                .card-image {
                    width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    transition: 0.25s ease;
                }
            }
        }
        .description {
            padding: 15px;
            margin-top: -4px; //No idea why we need this
            .avatar {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                box-shadow: $slight-shadow;
            }
            .avatar,
            .infos,
            .download {
                display: inline-block;
                vertical-align: top;
            }
            .infos {
                margin-left: 10px;
                width: 80%;
            }
            .title {
                color: #2E2E2E;
                font-weight: 500;
                overflow: hidden;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .more {
        font-weight: bold;
        color: $link-color;
        text-decoration: none;
        display: block;
        margin-top: 10px;
        transition: 0.1s ease;
        &:hover {
            color: darken($link-color,20);
        }
    }
}
.card-title {
    color: #505050;
    margin: 0 0 10px 0;
    font-size: 30px;
}
.dropdown {
    transition: 0.1s ease;
    float: right;
    cursor: pointer;
    padding: 3px;
    box-sizing: border-box;
    z-index: 2;
    color: #2E2E2E;
    position: relative;
    i {
        color: #707070;
        display: inline;
    }
    &:hover,
    &.selected {
        background: #e9f5f0 !important; //#dce6e2
        box-shadow: $slighter-shadow;
        opacity: 1 !important;
        //opacity: 0.85;
        //#E7E9E7
    }
    .dropdown-options {
        background: transparent;
        z-index: 1;
        position: absolute;
        transition: 0.2s ease;
        opacity: 0;
        display: none;
        box-shadow: $slighter-shadow;
        top: 100%;
        right: 0;
        overflow: hidden;
        &::after {
            transition: 0.15s ease;
            content: "";
            display: block;
            position: absolute;
            background: #e9f5f0;
            opacity: 0;
            width: 100%;
            height: 0;
            top: 0;
            left: 0;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%,-50%);
            z-index: -1;
            //border-radius: 50%;
        }
        &.open {
            opacity: 1;
            box-shadow: $slighter-shadow,
                    $spread-shadow;
            &::after {
                height: 100%;
                opacity: 1;
            }
        }
        .option {
            text-decoration: none;
            padding: 3px;
            display: block;
            color: #333;
            //background: #e9f5f0;
            font-size: 14px;
            text-align: right;
            &:hover {
                i {
                    color: #53715b;
                }
            }
        }
    }
}
.mvpblue {
    //color: #3CE6E6; Hypixel color
    color: #37c7c7;
}
.vip {
    //color: #3CE63C; Hypixel color
    color: #35c135;
}
.player {
    padding: 3px 0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    .position,
    .guild,
    .map {
        font-weight: 400;
    }
    .position {
        display: inline-block;
        width: 30px;
    }
    .right-info,
    .left-info {
        display: inline-block;
    }
}
.golds i {
    color: #a28f1b;
    margin-left: 3px;
}
footer {
    display: flex;
    justify-content: space-between;
    .left {
        flex-grow: 1;
        flex: 1;
    }
    .right a {
        display: block;
        color: #2E2E2E;
        text-decoration: none;
        font-weight: 500;
        &:hover {
            color: $link-color;
        }
    }
    .site-name {
        font-weight: 700;
        color: #242424;
        font-size: 30px;
    }
    .admission {
        font-size: 12px;
        margin: 0;
        margin-top: -3px;
    }
}

@media (max-width: 1650px) {
    :root {
        --page-width: 50%;
        --block-spacing: 30px;
    }
}
@media (max-width: 1360px) {
    :root {
        --page-width: 60%;
        --block-spacing: 20px;
    }
}
@media (max-width: 1110px) {
    :root {
        --page-width: 50%;
    }
    .card-container {
        display: block;
    }
    .card-block {
        display: block;
        margin-top: var(--block-spacing);
    }
    footer .site-name {
        font-size: 20px;
    }
}
@media (max-width: 900px) {
    :root {
        --page-width: 60%;
    }
}
@media (max-width: 750px) {
    :root {
        --page-width: 70%;
    }
}
@media (max-width: 650px) {
    :root {
        --page-width: 90%;
    }
    header nav a {
        font-size: 17px;
    }
}
@media (max-width: 550px) {
    header nav a {
        font-size: 15px;
        margin-right: 0;
        i {
            font-size: 13px;
        }
    }
}
@media (max-width: 550px) {
    footer {
        display: block;
        .left,
        .right {
            display: block;
        }
        .right {
            margin-top: 10px;
            text-align: center;
            a {
                display: inline-block;
                padding: 0 10px;
            }
        }
    }
}
@media (max-width: 450px) {
    :root {
        --page-width: 100%;
    }
    .block,
    footer {
        border-radius: 0;
    }
    footer,
    .page {
        margin-bottom: 0;
    }
    header nav a {
        margin: 0 3px;
    }
    header nav a i {
        display: none !important;
        margin: 0;
    }
}
